infra/phase-04/post-purchase-notification.workflow.json
{
  "//": "Story 2.4 AC-5 — workflow de referência 'post-purchase-notification' (4 nodes) para importar no n8n UI. Reprodutível entre aulas (mitiga a tag latest, ADE-002 Inv 4). Importar: n8n UI > Workflows > Import from File. Após importar, ativar (botão Active) e copiar a URL gerada do webhook trigger para o secret N8N_WEBHOOK_URL da Function App.",
  "name": "post-purchase-notification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "purchase",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook (purchase)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "purchase"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "strict" },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.category }}",
                    "rightValue": "VIP",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              },
              "outputKey": "VIP"
            }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "switch-category",
      "name": "Switch (VIP?)",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://httpbin.org/post",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"notificationType\": \"vip-premium-email\", \"correlationId\": $json.body.correlationId, \"matchId\": $json.body.matchId, \"category\": $json.body.category } }}",
        "options": {}
      },
      "id": "http-vip",
      "name": "HTTP — VIP email (mock)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "a1", "name": "correlationId", "value": "={{ $json.body.correlationId }}", "type": "string" },
            { "id": "a2", "name": "timestamp", "value": "={{ $now.toISO() }}", "type": "string" },
            { "id": "a3", "name": "notificationType", "value": "standard-log", "type": "string" },
            { "id": "a4", "name": "category", "value": "={{ $json.body.category }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "set-log",
      "name": "Set — structured log",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [720, 400]
    }
  ],
  "connections": {
    "Webhook (purchase)": {
      "main": [[{ "node": "Switch (VIP?)", "type": "main", "index": 0 }]]
    },
    "Switch (VIP?)": {
      "main": [
        [{ "node": "HTTP — VIP email (mock)", "type": "main", "index": 0 }],
        [{ "node": "Set — structured log", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
